{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <h3>Todo List</h3>
  Hi {{ user.username }}!
  <ul>
    <h3><strong>ToDo</strong></h3>
    {% for task in object_list %}
      {% if task.stage == 'todo' %}
        <li>
          {{ task.title }} |       
          <a href="{% url 'task-update' task.pk %}">Edit</a>
          <a href="{% url 'task-delete' task.pk %}">Delete</a>
          <small style="font-size: 60%;">Created: {{ task.created_at|timesince }} ago</small>
          {% if task.completed_at %}
          <small style="font-size: 60%;"> , Completed: {{ task.completed_at|timesince }} ago</small>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul>
      <h3><strong>Doing</strong></h3>
    {% for task in object_list %}
      {% if task.stage == 'doing' %}
        <li>
          {{ task.title }} |
          <a href="{% url 'task-update' task.pk %}">Edit</a>
          <a href="{% url 'task-delete' task.pk %}">Delete</a>
          <small style="font-size: 60%;">Created: {{ task.created_at|timesince}} ago</small>
          {% if task.completed_at %}
          <small style="font-size: 60%;">, Completed: {{ task.completed_at|timesince}} ago</small>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul>
      <h3><strong>Done</strong></h3>
    {% for task in object_list %}
      {% if task.stage == 'done' %}
        <li>
          {{ task.title }} |
          <!-- Edit option disabled for Done tasks -->
          <a href="{% url 'task-delete' task.pk %}">Delete</a>
          <small style="font-size: 60%;">Created: {{ task.created_at|timesince }} ago</small>
          {% if task.completed_at %}
          <small style="font-size: 60%;"> , Completed: {{ task.completed_at|timesince }} ago</small>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{% url 'task-create' %}">Create Task</a><br>
  <p><a href="/tasks/logout/">Log Out</a></p>
  {% else %}
  <p>Login</p>
  <form method="post" action="/tasks/login/">
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }}
      <input
        type="text"
        name="username"
        class="form-control"
        maxlength="150"
        id="id_username"
        required
      />
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      <input
        type="password"
        name="password"
        class="form-control"
        id="id_password"
        required
      />
    </div>
    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <p style="font-size: 13px;">
      {{ error|escape }}
    </p>
    {% endfor %} {% endif %}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endif %}
{% endblock %}
